
</div>
<div class="footer-padding"></div>
<div class="footer">
  <p>Made by Jaideep Sharma</p>
  <a href="https://github.com/camperjett"><i class="footer-icon fab fa-github fa-2x"></i></a>
</div>
</div>
</body>
</html>
